<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/mediaqueries.css" rel="stylesheet" />

</head>
<body>

    <!-- Desktop-Nav -->
    <nav id="desktop-nav">
        <div class="logo">M.Rafay</div>
        <div>
            <ul class="nav-links">
                <li><a href="#profile">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav> 

    <!-- Hamburger-Nav -->
    <nav id="hamburger-nav">
        <div class="logo">M.Rafay</div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <li><a href="#profile" onclick="toggleMenu()">Home</a></li>
                <li><a href="#about" onclick="toggleMenu()">About</a></li>
                <li><a href="#services" onclick="toggleMenu()">Services</a></li>
                <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
            </div>
        </div>
    </nav>
    @RenderBody();
    <footer>
        <div class="text">
            <p>Copyright &#169; 2024 M.Rafay. All Rights Reserved</p>
        </div>
    </footer>
    <script src="~/js/script.js"></script>
</body>
</html>