
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

/* Transition */
a,.btn{
    transition: all 300ms ease;
}

/* Desktop Nav */

nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    padding: 0.2rem;
    z-index: 1; 
    background-color: #fff;
}
.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem ;
    text-decoration-color: rgb(181,181,181);
}

.logo{
    font-size: 2rem ;
    font-weight: bold;
}
.logo:hover{
    cursor: default;
}

/* Hamburger Nav */
#hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 23px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
.menu-links{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.menu-links a{
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    display: block;
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);    
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
     transform: rotate(-45deg) translate(10px, -5px); 
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:nth-child(2){
    opacity: 1;
}
.hamburger-icon span:last-child{
    transform: none;
}

/* Sections */
 .section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}

/* Profile Section  */
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
}
.pic-container{
    display: flex;
    height: 620px;
    width: 580px;
    overflow: hidden; 
    margin-top: 8rem;
}
.section-text{
    align-self: center;
    text-align: center;
    margin-top: 11rem;
} 
.section-text p{
    font-weight: 600;
}
.section-text-p1{
    font-size: 1.75rem;
}
.section-text-p2{
    font-size: 2rem;
}
.profile-title{
    font-size: 3rem;
}
#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */
.icon{
    cursor: pointer;
    border: #333 solid;
    border-radius: 60%;
    width: 50px; 
    height: auto;
}

/* Buttons */

#btn-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}
.btn-color-1,.btn-color-2 {
    font-weight: 600;
    padding: 1rem 2rem; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;  
}
.btn-color-1{
    background-color: #333 ;
    color: #fff ;
    border: 2px solid #333; 
}
.btn-color-2{
    background-color: #fff ;
    color: #333;
    border: 2px solid #333;
}
.btn-color-2:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* About Section */
.about-p1,.about-title{
    text-align: center;
}
#about {
    height: 100vh;
    position: relative;
    padding: 28vh 0;
    margin: 0 10rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    background: white;
    padding-top: 5rem;
    text-align: center;
}
.details-row{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.details-container {
    padding: 1.5rem;
    border-radius: 2rem;
    border: 0.1rem solid rgba(53, 53, 53, 0.1);
    position: relative;
    text-align: center;
    flex: 1;
}
.about.text {
    text-align: justify;
    margin-top: 2rem;
}
.about-icon{
    cursor: default;
    border: #333 solid;
    border-radius: 60%;
    width: 50px; 
    height: auto;
}


/* Services-Section */
.services-p1, .services-title{
    text-align: center;
}
.title{
   color:rgb(85, 85, 85) ; 
}
#services{
    height: 100vh;
    position: relative;
    padding: 28vh 0;
    margin: 0 10rem;
}
.services-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}
.frontend-services-container{
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid rgba(53, 53, 53, 0.1);
}
.elements-frontend{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 5rem;
    flex: 1;
}
.backend-services-container{
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid rgba(53, 53, 53, 0.1);
}
.html-material:hover{
    background-color: #333;
    border: 0.1rem solid rgba(53, 53, 53, 0.1);
    border-radius: 2rem;
    color: #fff;
    padding: 0.5rem;
    
}
.css-material:hover{
    background-color: #333;
    padding: 0.5rem;
    border: 0.1rem solid rgba(53, 53, 53, 0.1);
    border-radius: 2rem;
    color: #fff;
}
.javascript-material:hover{
    background-color: #333;
    padding: 0.5rem;
    border: 0.1rem solid rgba(53, 53, 53, 0.1);
    border-radius: 2rem;
    color: #fff;
}
.services-icon{
    cursor: default;
    border: #333 solid;
    border-radius: 60%;
    width: 50px; 
    height: auto;
}

/* Contact Section */
.contact-p1, .contact-title{
    text-align: center;
}
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    position: relative;
    padding: 28vh 0;
    margin: 0 10rem;
}
.contact-container{
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 0.1rem solid rgba(53, 53, 53, 0.1);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-details-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-details-conatainer p{
    font-size: larger;
}
.contact-icon{
    cursor: default;
    border: #333 solid;
    border-radius: 60%;
    width: 50px; 
    height: auto;
}


/* Footer */
footer{
    height: 6vh;
    margin: 0 10rem;
}
.text{
    text-align: center;
}





/* Contact Section */
#contact {
    height: 100vh;
    position: relative;
    padding: 28vh 0;
    margin: 0 10rem;
}

#contact .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h1 {
    text-align: center;
    margin-bottom: 20px;
}

#contact .contact-info {
    margin-bottom: 20px;
}

#contact .contact-form-video {
    display: flex;
    justify-content: space-between;
}

#contact .contact-form {
    width: 40%;
    margin-right: 20px;
}

#contact form {
    margin-top: 20px;
}

#contact label {
    display: block;
    margin-bottom: 10px;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact input[type="submit"] {
    background-color:black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact .video-container {
    width: 50%;
}

#contact video {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}